body {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
}

header {
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: blue;
    color: white;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    position: sticky;
}

main {
    min-height: 5em;
    flex: 1;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover{
    color: whitesmoke;
}

#mainselect{
    background-color: blue;
    color: white;
    border-color: blue;
}

#mainselect:hover{
    background-color: #333;
    color: white;

}
.option{
    background-color: #333;
    color: white;
}
#Impressum{
    text-align: center;
    color: white;
    background-color: #333;
}